* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #363636;
}

.container-fluid {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

video {
    width: 100%;
}

a {
    color: #ffff00;
}

button {
    position: fixed;
}